ENABLE_NOTIFICATION=0

# email settings
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_USERNAME=test
SMTP_PASSWORD=test

EMAIL_FROM=admin@example.com
EMAIL_TO=test1@example.com,test2@example.com
EMAIL_TITLE=[UAV-Data-Generation]: Task Finished Notification
