diffusers[torch] < 5.0.0
transformers < 5.0.0
accelerate < 1.0.0
safetensors
controlnet-aux
ipywidgets
ipykernel
invisible-watermark
opencv-python-headless < 5.0.0.0
compel
pycocotools
matplotlib
pandas
fastdup; sys_platform != "win32"
bpy ~= 3.5.0
fake-bpy-module-3.5
blenderproc < 3.0.0
pillow
rich
gradio ~= 4.39.0
scikit-learn ~= 1.3.0
