diffusers[torch] < 5.0.0
transformers < 5.0.0
accelerate < 1.0.0
safetensors
controlnet-aux
ipywidgets
ipykernel
invisible-watermark
opencv-python-headless < 5.0.0.0
compel
pandas
fastdup; sys_platform != "win32"
